<div style="text-align:center">
  <h1>SISTEMA DE FACTURACIÓN - NEXOS SOFTWARE</h1>
  <br>
</div>  

<div class="container">
<button  (click)="Listar()" class="btn btn-info">Listar Cargos</button>
<button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo Cargo</button>
<button  (click)="ListarUsuario()" class="btn btn-info" style="margin-left: 10px;">Listar Usuarios</button>
<button (click)="NuevoUsuario()" class="btn btn-info" style="margin-left: 10px;">Ingresar Usuario</button>
<button  (click)="ListarMercancia()" class="btn btn-info" style="margin-left: 10px;">Listar Mercancia</button>
<button (click)="NuevaMercancia()" class="btn btn-info" style="margin-left: 10px;">Ingresar Mercancia</button>
</div>

<router-outlet></router-outlet>